header div.avatar-container {

  img {
    width: 142px;
    border-radius: 50%;
  }
}

.article-preview {
  border-bottom: solid 1px rgba(114, 114, 114, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-child {
    border: none;
  }

  .post-img {
    width: 500px;
  }
}
.post-stats {
  margin-top: -15px;
  margin-left: -10px;

  .time-icon {
    position: relative;
    top: 10px;
  }

  .published-date {
    margin-left: -10px;
  }
}

h2 small {
  font-weight: lighter;
}
