i {

  &.github-icon::before {
    content: url(/assets/icons/github-icon.svg);
  }

  &.twitter-icon::before {
    content: url(/assets/icons/twitter-icon.svg);
  }

  &.instagram-icon::before {
    content: url(/assets/icons/instagram-icon.svg);
  }

  &.email-icon::before {
    content: url(/assets/icons/email-icon.svg);
  }

  &.time-icon::before {
    content: url(/assets/icons/time-icon.svg);
  }

  &.comment-icon::before {
    content: url(/assets/icons/comment-icon.svg);
  }
}
