---
layout: default
---

{% for post in site.categories[page.title] %}
<div class="article-preview">
  <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
  <a href="{{ post.url }}"><img src="{{ post.img }}" /></a>
  <div class="post-stats">
    <i class="time-icon"></i>
    <span class="published-date">
      {{ post.date | date: "%b %-d, %Y" }}
    </span> |
    <a href="{{ post.url }}#disqus_thread">
      <i class="comment-icon"></i>
      <span class="disqus-comment-count" data-disqus-identifier="{{ post.disqus_identifier }}"></span>
    </a> |
    <small>
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
          <a href="{{ site.baseurl }}/category/{{ category_name | slugize }}">#{{ category_name | replace: "-", " " }}</a>
      {% endfor %}
    </small>
  </div>
  <br>
  {{ post.smmry }}
  <br><a href="{{ post.url }}">read more >></a>
</div>
{% endfor %}

