<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!-- disqus comment counter -->
    <script id="dsq-count-scr" src="//grott-me.disqus.com/count.js?" async></script>

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="avatar-container">
          <img src="https://pbs.twimg.com/profile_images/931506020274331648/pV8N-Nkp_400x400.jpg">
          <a href="{{ site.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        </div>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p class="view">
          <a href="{{ site.github.owner_url }}"><i class="github-icon"></i></a>
          <a href="{{ site.twitter_url }}"><i class="twitter-icon"></i></a>
          <a href="{{ site.instagram_url }}"><i class="instagram-icon"></i></a>
          <a href="mailto:{{ site.email }}"><i class="email-icon"></i></a>
        </p>
        <h3>Posts</h3>
        <div>
          {% for post in site.posts %}
            <a href="{{ post.url }}">{{ post.title}}</a>
            <div class="post-stats">
              <i class="time-icon"></i>
              <span class="published-date">
                {{ post.date | date: "%b %-d, %Y" }}
              </span> |
              <a href="{{ post.url }}#disqus_thread">
                <i class="comment-icon"></i>
                <span class="disqus-comment-count" data-disqus-identifier="{{ post.disqus_identifier }}"></span>
              </a>
            </div>
          {% endfor %}
        </div>
        <br>
        <h3>Categories</h3>
        {% for category in site.categories %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
            <a href="{{ site.url }}/category/{{ category_name | slugize }}">{{ category_name | replace: "-", " " }}</a>
            {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </header>
      <section>

        {% for post in site.posts %}
        <div class="article-preview">
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          <a href="{{ post.url }}"><img src="{{site.url}}{{ post.img }}" /></a>
          <div class="post-stats">
            <i class="time-icon"></i>
            <span class="published-date">
              {{ post.date | date: "%b %-d, %Y" }}
            </span> |
            <a href="{{ post.url }}#disqus_thread">
              <i class="comment-icon"></i>
              <span class="disqus-comment-count" data-disqus-identifier="{{ post.disqus_identifier }}"></span>
            </a> |
            <small>
              {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                  <a href="{{ site.url }}/category/{{ category_name | slugize }}">#{{ category_name | replace: "-", " " }}</a>
              {% endfor %}
            </small>
          </div>
          <br>
          {{ post.smmry }}
          <br><a href="{{ post.url }}">read more >></a>
        </div>
        {% endfor %}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
